<section class="content-inventario">
  <div class="contenedor">
    <h2>Inventario</h2>

    <div class="spacer"></div>

    <div class="container-filtro">
      <h3>Filtrar registro</h3>
      <input class="input" type="text" placeholder="Buscar registro..." [(ngModel)]="searchTerm"
        (input)="updateFilteredInventary()">
    </div>

    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>Producto</th>
          <th>Tipo Movimiento</th>
          <th>Cantidad</th>
          <th>Fecha</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="paginatedInventary.length > 0; else noData">
          <tr *ngFor="let inventario of paginatedInventary; let i = index">
            <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td>{{ inventario.producto_nombre }}</td>
            <td>{{ inventario.tipo_movimiento }}</td>
            <td>{{ inventario.cantidad }}</td>
            <td>{{ inventario.fecha_movimiento }}</td>
            <td class="table_buttons">
              <button type="button" (click)="deleteInventario(inventario.id)"
                class="button4 efects2__button2 btn_eliminar" title="Eliminar">
                <div class="button-content"><img src="{{delete_icon}}" alt="Eliminar"></div>
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-template #noData>
          <tr>
            <td colspan="6">No hay datos disponibles</td>
          </tr>
        </ng-template>
      </tbody>
    </table>


    <div class="pagination">
      <div class="info-paginacion">
        <span class="total">Total inventario: {{filteredInventary.length}} </span>
        <span class="paginas">Paginas: {{ currentPage }} / {{ lastPage }}</span>
      </div>
      <div class="buttons-paginacion">
        <button class="button2 btn_navegacion efects2__button2" type="button" (click)="prevPage()">Anterior</button>
        <button class="button2 btn_navegacion efects2__button2" type="button" (click)="nextPage()">Siguiente</button>
      </div>
    </div>

    <div>

    </div>
  </div>
</section>
