<section class="content-members">
  <div class="content">
    <h1 class="title">PROYECTO - GRUPO 2</h1>
    <div class="info">
      <img src="../../../assets/img/default/djangoRF.png" alt="Django">
      <img src="../../../assets/img/icons/angular.svg" alt="Angular">
      <img src="../../../assets/img/icons/scss.svg" alt="Sass">
    </div>

    <div class="members">
      <h1 class="subtitle">Integrantes</h1>

      <span>Cedeño Zambrano Hector Ismael</span>
      <span>Espinoza Vinueza Jordan Enrique</span>
      <span>Sangucho Sasig Mauricio David</span>
      <span>Velasquez Delgado Armando Josue</span>
    </div>
  </div>
</section>
