<section class="content-products">
  <div class="products">
    <div>
      <h2>Productos</h2>

      <div class="spacer"></div>

      <table>
        <thead>
          <tr>
            <th>No</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="paginatedProducts.length > 0; else noData">
            <tr *ngFor="let product of paginatedProducts; let i = index">
              <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
              <td>{{ product.nombre }}</td>
              <td>{{ product.precio }}</td>
              <td>{{ product.stock }}</td>
              <td class="table_buttons">
                <button type="button" (click)="updateProduct(product)" class="button4 efects2__button2 btn_editar"
                  title="Editar">
                  <div class="button-content"><img src="{{ edit_icon }}" alt="Editar"></div>
                </button>
                <button type="button" (click)="deleteProduct(product.id)" class="button4 efects2__button2 btn_eliminar"
                  title="Eliminar">
                  <div class="button-content"><img src="{{ delete_icon }}" alt="Eliminar"></div>
                </button>
              </td>
            </tr>
          </ng-container>
          <ng-template #noData>
            <tr>
              <td colspan="4">No hay datos disponibles</td>
            </tr>
          </ng-template>
        </tbody>
      </table>

      <div class="pagination">
        <div class="info-paginacion">
          <span class="total">Total productos: {{filteredProducts.length}} </span>
          <span class="paginas">Paginas: {{ currentPage }} / {{ lastPage }}</span>
        </div>
        <div class="buttons-paginacion">
          <button class="button2 btn_navegacion efects2__button2" type="button" (click)="prevPage()">Anterior</button>
          <button class="button2 btn_navegacion efects2__button2" type="button" (click)="nextPage()">Siguiente</button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-products">
    <div>
      <div class="container-filtro">
        <h3>Filtrar producto</h3>
        <input class="input" type="text" placeholder="Buscar producto..." [(ngModel)]="searchTerm"
          (input)="updateFilteredProducts()">
      </div>

      <h3>{{ editingProduct ? 'Actualizar' : 'Agregar' }} producto</h3>

      <div class="spacer"></div>

      <form (ngSubmit)="addOrUpdateProduct()" #productForm="ngForm" class="form">
        <div>
          <label for="nombre">Nombre:</label>
          <input class="input" placeholder="Ingresar nombre de producto" type="text" id="nombre" name="nombre"
            [(ngModel)]="newProduct.nombre" required>
        </div>

        <div>
          <label for="precio">Precio:</label>
          <input class="input" placeholder="Ingresar precio de producto" type="number" id="precio" name="precio"
            [(ngModel)]="newProduct.precio" required>
        </div>

        <div>
          <label for="stock">Stock:</label>
          <input class="input" placeholder="Ingresar stoc de producto" type="number" id="stock" name="stock"
            [(ngModel)]="newProduct.stock" required>
        </div>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <div class="content_button">
          <button class="button2 {{ editingProduct ? 'btn_actualizar' : 'btn_nuevo' }} efects__button" type="submit">{{
            editingProduct ? 'Actualizar' : 'Nuevo Producto' }}</button>
          <button *ngIf="editingProduct" class="button2 btn_eliminar efects__button" type="button"
            (click)="resetForm()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</section>
